.map-wrapper {
	position: relative;

	height: 500px;
	width: 100%;

	padding: 60px 0 0 0;

	.transition(all 300ms ease-in-out);

	.component-frame();

	.map-container {
		height: 100%;

		margin-bottom: 0;
	}

	&.no-padding {
		padding: 0;
	}

	.map-controls {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	&.full-screen {
		position: fixed;

		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		height: auto !important;

		margin-bottom: 0;

		z-index: 1200;
	}
}

path.letter-path {
	stroke: #000;
	stroke-width: 2px;
	stroke-dasharray: 5px 8px;
	animation: letter-travel 0.8s linear infinite;
}

@keyframes letter-travel {
	0% {
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dashoffset: -13;
	}
}

path.leaflet-interactive {
//	stroke-width: 2;
}

.color-legends {
	position: absolute;

	left: 20px;
	bottom: 20px;

	z-index: 500;

	pointer-events: none;

	.color-item {
		display: block;

		position: relative;

		.color {
			display: inline-block;

			width: 20px;
			height: 20px;
		}

		.label {
			position: relative;

			top: -5px;

			margin-left: 5px;

			font-size: 0.8rem;
			line-height: 0;
		}
	}
}

.map-timeline-container {
	position: absolute;
	
	left: 50%;
	bottom: 20px;
	
	width: 90%;
	max-width: 1200px;

	padding: 5px 20px 0;
	
	background: #f8f8f8;
	
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);	
	box-sizing: border-box;
	
	.transform(translateX(-50%));
	
	z-index: 400;

	.slider-container {
		margin: -10px 4px 40px 4px;
	}

	.graph-wrapper {
		padding: 0 5px;
	}
}